@import '../../core/styles/variables';

.footer {
  background-color: $blue;
  color: $white;
  display: flex;
  font-weight: $semi-bold;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
