/*
 * Omnivision vars
 * -------------------------------------------------------------------------------------------------
 */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$screen-xxs-max: ($breakpoint-xs - 1);
$screen-xs-max: ($breakpoint-sm - 1);
$screen-sm-max: ($breakpoint-md - 1);
$screen-md-max: ($breakpoint-lg - 1);

/*
 * Breakpoints
 */
@mixin bp-xl {
  @media (min-width: $breakpoint-xl) { @content; }
}

@mixin bp-lg {
  @media (min-width: $breakpoint-lg) { @content; }
}

@mixin bp-md {
  @media (min-width: $breakpoint-md) { @content; }
}

@mixin bp-sm {
  @media (min-width: $breakpoint-sm) { @content; }
}

@mixin max-sm {
  @media (max-width: $screen-sm-max) { @content; }
}

/*
 * Colors
 */
$black: #000;
$blue: #396FA7;
$dark-blue: #2562A3;
$dark-gold: #F5A623;
$dark-gray: #6B6B6B;
$dark-red: #BF2E0A;
$gold: #FFC54E;
$gray: #8D8D8D;
$green: #4BB543;
$light-gold: #FDBD2A;
$light-gray: #EAEAEA;
$orange: #FF9C4F;
$red: #F03A0C;
$white: #FFF;

/*
 * Fonts
 */
$font-size: 14px;
$font-family: Arial, Helvetica, sans-serif;

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
